<div class="col-md-24 col-sm-12 col-xs-24 isotope-item">
                    <div class="widget widget_bio">
                      <h5 class="widget-title">About me</h5>

                      <img src="<%= current_user.image %>" alt="author avatar" />

                      <div class="bio">
                        <h4 class="name">Author blogger</h4>

                        <ul class="social-block">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>

                        <p>Molestie neque. Integer laoreet ac nisl vel lobortis. Aliquam erat volutpat. Vivamus enim nibh...</p>
                      </div>
                    </div>
                  </div>