<div class="projects main-slider">
  <ul class="items clean-list">


<% @projects.each do |project|%>
<% project.project_images.each do |image|%>

    <li class="projects item gallery-cell" >
      <img width="840" height="542" src="<%= image.url %>" alt="slider item cover" />
      <div class="slide-components">
        <h3 class="title slide-component first-row"><a href="/projects/<%= project.id %>"><%= project.name %></a></h3>
        <hr class="slide-component second-row" />
        <a href="/projects/<%= project.id %>" class="link slide-component third-row">Read more</a>
      
      </div>
     <% end %> 
  <% end %>

 

    
      </div>
    </li>
   

 </ul>
      
 

